body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #333;
}
.title {
  font-family: 'Playfair Display', serif;
}

.el-header, .el-footer {
  background-color: #f8f9fb;
  text-align: center;
  line-height: 60px;
}

.el-aside {
  background-color: #ffffff;
  text-align: center;
  line-height: 200px;
  height: 100vh;
  box-shadow: 0 0px 20px rgba(78, 100, 121, 0.14);
  z-index: 1;
}

.el-main {
  background-color: #f8f9fb;
  text-align: center;
  padding: 1rem 10rem;
}