body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #465064;
}
.title {
  font-family: 'Playfair Display', serif;
}

.el-header, .el-footer {
  background-color: #f8f9fb;
  text-align: center;
  line-height: 60px;
}

.el-aside {
  background-color: #ffffff;
  text-align: center;
  height: 100vh;
  box-shadow: 0 0px 20px rgba(78, 100, 121, 0.14);
  z-index: 1;
}

.el-main {
  background-color: #f8f9fb;
  text-align: center;
  padding: 1rem 3rem;
  
  .el-main__content {
    max-width: 720px;
    margin: 0 auto;
  }
}