$primary : #409EFF;
$white : #FFFFFF;

.cv-wrapper {
  .cv-header {
    border: 0;
    // Nav
    .cv-header-nav {

    }

    // Button
    .previousYear {

    }
    .previousPeriod {

    }
    .nextPeriod {

    }
    .nextYear {

    }
    .currentPeriod {

    }

    // Label
    .periodLabel {

    }
    .startMonth {

    }
    .startDay {

    }
    .startYear {

    }
    .endMonth {

    }
    .endDay {

    }
    .endYear {

    }
  }
	.cv-header-days {
    border: 0;

		.cv-header-day {
      border: 0;
    }
  }
	.cv-weeks {
    border: 0;

		.cv-week {
      flex-basis: auto;

			.cv-day {
        padding: 2rem;
        flex-basis: auto;
        font-size: 1.2rem;
        background-color: $white;
        border: 0;

        &.today {
          background-color: $primary;
          color: $white;
        }
				.cv-day-number {
          bottom: 0;
          padding: .5rem 1rem;
        }
				.cv-event {

					.startTime {

          }
					.endTime {

          }
        }
      }
    }
  }
}